<% visiter = notification.visiter %>

<div class="user-view clearfix my-3">
  <%= link_to user_path(notification.visiter_id) do %>
    <%= image_tag visiter.get_profile_image, size: "50x50", class:"rounded-circle" %>
  <% end %>
  <%= notification_form(notification) %><span><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
</div>