<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-8">
      <h2 class="text-center my-4">通知</h2>
          <%= link_to notifications_destroy_all_path, method: :delete do %>
              <i class="fas fa-trash" style="color: black;"></i>
              <h7 style="color: black;">全削除</h7>
          <% end %>
          <hr>
      <% if @notifications.exists? %>
        <div class="row justify-content-center">
          <div class="col-xl-8 users-index">
            <%= render @notifications %>
          </div>
        </div>
      <% else %>
          <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>
