
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-sm-12">
    <h2 class="my-5 text-center">
      <%= link_to user_path(@user.id) do %>
      <%= @user.name %>
      <% end %>
      &nbsp;さんのフォロー一覧
    </h2>
     <%= render 'users/index',users: @users %>
  </div>
</div>
