
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
    <h2 class="my-5">フォロー一覧</h2>
     <%= render 'users/index',users: @users %><!--部分テンプレート-->
  </div>
</div>
