<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-10 col-sm-12">
    <h2 class="my-5">ユーザー一覧</h2>
    <%= render 'users/index',users: @users %>
　　<%= paginate @users %>
  </div>
</div>


