<!--<h1>CookOP</h1>-->
<!--<h3>お気に入りランキンング</h3>-->
<div class="container-xl">
  <div class="row justify-content-center">
    <div class="col-xl-12 text-center">
    <h1 class="title">CookOP</h1>
      <div class="top-image">
        <%= image_tag "top5.jpg" %>
      </div>
      <hr class="my-3">
        <h1>機能紹介</h1><br>
      <div class="row justify-content-center">
        <div class="col-xl-6 text-center w-auto">
          <h3 class="my-3"><i class="fa-solid fa-crown  fa-fw faa-wrench animated-hover" style="color:#FFD700;"></i>お気に入りランキング</h3><br>
          <h4>
            CookOPしてランキング上位を目指そう！
          </h4>
          <%= image_tag "ranking2.png",size: "600x300"%>
        </div>
        <div class="col-xl-6 text-center w-auto">
          <h3 class="my-3"><i class="fa-solid fa-magnifying-glass  fa-fw faa-wrench animated-hover"></i>検索機能</h3><br>
          <h4>
            気になるワードを検索しよう！
          </h4>
          <%= image_tag "search2.png",size:"600x300"%>
        </div>
      </div>
    </div>
  </div>
</div>
