// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.created {
  margin: 30px 0 0 50px;
  font-size: 20px;
}

// .{
//     // border: 2px solid #0a0;  /* 枠線 */
//     // border-radius: 0.67em;   /* 角丸 */
//     // padding: 0.5em;          /* 内側の余白量 */
//     // background-color: snow;  /* 背景色 */
//     // width: 20em;             /* 横幅 */
//     height: 120px;           /* 高さ */
//     // font-size: 1em;          /* 文字サイズ */
//     // line-height: 1.2;        /* 行の高さ */
// }

.title{
  color: #ffd700;
  font-family: 'Dancing Script', cursive;
  font-size: 120px;
  margin: 20px 0 20px 0;
  text-align: center;
}

// .dish-show-border {
//   border: 4px solid;
//   border-color: #ffbf7f;
//   border-radius: 10px;

// }

.field_with_errors {
  display: contents;
}