// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  border-radius: 8%;
}

.images{
  display: flex;
  flex-wrap: wrap;
}
.dish_image{
  width: 33%;
}


.thumbnail{
  width: 150px;
  height: 110px;
  object-fit: cover;
}

.user-image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-redius: 50%;
}


// .index_images{
//   display: flex;
//   flex-wrap: wrap;
// }

// .index_dish_image{
//   width: 12%;
// }